{% load static %}
<svg width="{{width|default:11}}" height="{{height|default:11}}" viewBox="{{viewBox|default:'0 0 11 11'}}" fill="{{fill_color|default:'white'}}" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_4219_1419)">
        <use href="{%static "assets/svg/icons.svg"%}#icon-{{icon_name|default:'twitter-x'}}"></use>
    </g>
    <defs>
        <clipPath id="clip0_4219_1419">
            <rect width="10" height="10" fill="white" transform="translate(0.648438 0.461914)" />
        </clipPath>
    </defs>
</svg>