{% extends "layout/layout.html" %}
{% load static %}

{% block title %}
{{ page_title }}
{% endblock title %}


{% block content %}
{% include "components/landing/banner.html" %}
    <!-- Start Banner Area -->
    <!-- End Banner Area -->

    <!-- Start Top Category Area -->
{% include "components/landing/categories.html"%}
    <!-- End Top Category Area -->

    <!-- Start Feature Post Area -->
{%include "components/landing/feature-posts.html"%}
    <!-- End Feature Post Area -->

    <!-- Start Gallery Area -->
{%include "components/landing/gallery.html"%}

{% endblock content %}
