<div class="author-inner d-flex align-items-center mt--70">
                      <div class="image-area">
                        <img src="https://placehold.co/600x400.png" width="307" alt="Imagen Oficial de la comunidad Ejido San Pedro Jacuaro" />
                      </div>
                      <div class="content-area">
                        <h3 class="heading-title">Ejido San Pedro Jacuaro</h3>
                        <p class="desc">Somos una comunidad unida y comprometida con el desarrollo sostenible y la preservación de nuestras tradiciones.</p>
                        
                        <div class="social-area">
                          <p class="tag">Redes sociales:</p>
                          <ul class="social-wrapper">
                            <li>
                              <a href="#">{% include 'components/media/custom-svg.html' with icon_name='facebook' fill_color='white' %}</a>
                            </li>
                            <li>
                              <a href="#">{% include 'components/media/custom-svg.html' with icon_name='instagram' fill_color='white' %}</a>
                            </li>
                            <li>
                              <a href="#">{% include 'components/media/svg-g-wrapper.html' with icon_name='twitter-x' fill_color='white' %}</a>
                            </li>
                            <li>
                              <a href="#">{% include 'components/media/custom-svg.html' with icon_name='youtube' fill_color='white' %}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>