{% load static %}
{% load custom_tags %}
<div class="col-xl-3 tp-sticky-column-item">
              <div class="eblog-right-sidebar">
                <div class="eblog-right-side-post feature">
                  <p class="title">Más Popular</p>
                  <div class="featured-post sidebar">
                    <div class="image-area">
                      <a href="{% url "blog" slug=noticia_mas_popular.slug %}"><img src="{{noticia_mas_popular.banner_small.url}}" alt="{{noticia_mas_popular.titulo}}" /></a>
                    </div>
                    <div class="blog-content">
                      <ul class="blog-meta">
                        <li>
                          {% include "components/media/custom-svg.html" with icon_name="clock" fill_color="black" %}
                          {{ noticia_mas_popular.tiempo_lectura|format_read_time }}
                        </li>
                        <li>
                          {% include "components/media/custom-svg.html" with fill_color="black" icon_name="bar-chart" %} {{ noticia_mas_popular.vistas|short_format }} vistas
                        </li>
                      </ul>
                      <h5 class="heading-title"><a class="title-animation" href="{% url "blog" slug=noticia_mas_popular.slug %}">{{ noticia_mas_popular.titulo }}</a></h5>
                      <p class="author">
                        <em>POR</em> {{noticia_mas_popular.autor}} - {{ noticia_mas_popular.fecha_publicacion|date:"d M Y" }}
                      </p>
                      <a href="{% url "blog" slug=noticia_mas_popular.slug %}" class="text-btn color-two">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="eblog-right-side-post popular">
                  <p class="title">Populares</p>
                  <div class="small-post">
                   {% for noticia in noticias_populares %}
                    <div class="eblog-post-list-style">
                      <div class="image-area">
                        <a href="{% url "blog" slug=noticia.slug %}"><img src="{{noticia.banner_small.url}}" alt="{{noticia.titulo}}"/></a>
                      </div>
                      <div class="blog-content">
                        <h4 class="heading-title"><a class="title-animation" href="{% url "blog" slug=noticia.slug %}">{{ noticia.titulo }}</a></h4>
                        <ul class="blog-meta">
                          <li>
                             {% include "components/media/custom-svg.html" with icon_name="clock" fill_color="black" %}{{noticia.tiempo_lectura|format_read_time}}
                          </li>
                        </ul>
                      </div>
                    </div>
                   {% endfor %}
                  </div>
                </div>
                <div class="eblog-right-side-post category2">
                  <p class="title">Explora Categorías</p>
                  <div class="category-area">
                    <ul class="category-wrapper">
                      {% for categoria in categorias %}
                      <li>
                        <div class="image-area">
                          <a href="{% url "noticias" %}?category={{ categoria.slug }}"><img src="{{categoria.banner.url}}" alt="{{categoria.nombre}}" /></a>
                          <p class="text">
                            <a href="{% url "noticias" %}?category={{ categoria.slug }}">{{ categoria.nombre }}</a>
                          </p>
                        </div>
                      </li>
                      {%endfor%}
                    </ul>
                  </div>
                </div>
                <div class="eblog-right-side-post social-area">
                  <p class="title">Síguenos</p>
                  <div class="social-area area-2">
                    <ul class="social-wrapper">
                      <li>
                        <a href="#">{% include 'components/media/custom-svg.html' with icon_name='facebook' fill_color='black' %}</a>
                      </li>
                      <li>
                        <a href="#">{% include 'components/media/custom-svg.html' with icon_name='instagram' fill_color='black' %}</a>
                      </li>
                      <li>
                        <a href="#">{% include 'components/media/svg-g-wrapper.html' with icon_name='twitter-x' fill_color='black' %}</a>
                      </li>
                      <li>
                        <a href="#">{% include 'components/media/custom-svg.html' with icon_name='youtube' fill_color='black' %}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>