{% load custom_tags %}   
    <section class="eblog-banner-area banner-three">
        <div class="banner-inner">
            <div class="swiper tp-bannerSlider2">
                <div class="swiper-wrapper">
                    {% for noticia in noticias %}
                    <div class="swiper-slide">
                        <div class="banner-single banner-single-7 banner-bg" style=" background-image: url({{noticia.banner_medium.url}});">
                            <div class="container">
                                <div class="banner-content blog-content">
                                    <p class="sub-title">{{noticia.categoria}}</p>
                                    <h2 class="heading-title"><a class="title-animation" href="{% url "blog" noticia.slug %}">{{noticia.titulo}}</a></h2>
                                    <ul class="blog-meta">
                                        <li class="author"><span>BY</span>{{noticia.autor}} - {{noticia.fecha_publicacion|date:"d M Y"}}</li>
                                        <li>
                                            {% include "components/media/custom-svg.html" with icon_name="clock" fill_color="white" %}
                                            {{noticia.tiempo_lectura|format_read_time}}
                                        </li>
                                        <li>
                                            {% include "components/media/custom-svg.html" with icon_name="bar-chart" fill_color="white" %}
                                            {{noticia.vistas|short_format }} vistas
                                        </li>
                                    </ul>
                                    <a href="{% url "blog" noticia.slug %}" class="text-btn color-two">Leer Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-button-area">
                <div class="swiper-btn swiper-button-prev"><i class="fa-light fa-angle-left"></i></div>
                <div class="swiper-btn swiper-button-next"><i class="fa-light fa-angle-right"></i></div>
            </div>
        </div>
    </section>