{% load static %}
<section class="eblog-top-category-area">
        <div class="container">
            <div class="section-title-area">
                <h3 class="section-title text-center">Top Category</h3>
            </div>
            <div class="section-inner">
                <div class="swiper tp-trendingSlider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="category-wrapper area-2">
                                <div class="image-area">
                                    <a href="#">
                                        <img src="{% static 'assets/images/category/category-11.jpg' %}" alt="">
                                    </a>
                                    <div class="content-area">
                                        <p class="title">Indonesia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="category-wrapper area-2">
                                <div class="image-area">
                                    <a href="#">
                                        <img src="{% static 'assets/images/category/category-12.jpg'%}" alt="">
                                    </a>
                                    <div class="content-area">
                                        <p class="title">India</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="category-wrapper area-2">
                                <div class="image-area">
                                    <a href="#">
                                        <img src="{%static 'assets/images/category/category-13.jpg'%}" alt="">
                                    </a>
                                    <div class="content-area">
                                        <p class="title">Japan</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="category-wrapper area-2">
                                <div class="image-area">
                                    <a href="#">
                                        <img src="{% static 'assets/images/category/category-14.jpg'%}" alt="">
                                    </a>
                                    <div class="content-area">
                                        <p class="title">Italy</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination2"></div>
        </div>
    </section>