    {% load static %}
    {% load custom_tags %}
    <section class="eblog-featured-post-area area-2 tp-section-gapBottom">
        <div class="container">
            <div class="section-inner">
                <div class="row g-5 sticky-coloum-wrap">
                    <div class="col-xl-9">
                        <div class="left-side-post-area">
                            <div class="featured-post area-2 tp-section-gap3Bottom">
                                <div class="section-title-area">
                                    <h3 class="section-title">Más visto</h3>
                                </div>
                                <div class="post-section-inner">
                                    <div class="row g-5">
                                        <div class="col-lg-12">
                                            <div class="eblog-featured-news style-two">
                                                <div class="image-area">
                                                    <a href="{% url "blog" noticia_mas_vista.slug %}"><img src="{{ noticia_mas_vista.banner_medium.url }}" alt="{{ noticia_mas_vista.titulo }}"></a>
                                                    <p class="tag">{{ noticia_mas_vista.categoria.nombre }}</p>
                                                </div>
                                                <div class="blog-content text-left">
                                                    <ul class="blog-meta">
                                                        <li class="author"><span>BY</span>{{ noticia_mas_vista.autor }} - {{ noticia_mas_vista.fecha_publicacion|date:"d M Y" }}</li>
                                                        <li>
                                                                {% include 'components/media/custom-svg.html' with icon_name='clock' fill_color='#1E1E1E' %}
                                                            {{noticia_mas_vista.tiempo_lectura|format_read_time}}
                                                        </li>
                                                        <li>
                                                            {% include "components/media/custom-svg.html" with icon_name="bar-chart" fill_color="#1E1E1E" %}
                                                            {{noticia_mas_vista.vistas|short_format}} vistas
                                                        </li>
                                                    </ul>
                                                    <h4 class="heading-title"><a class="title-animation text-start" href="{% url "blog" noticia_mas_vista.slug %}">{{ noticia_mas_vista.titulo }}</a></h4>
                                                    <a href="{% url "blog" noticia_mas_vista.slug %}" class="text-btn color-two">Leer Más</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-post area-2 latest-news3 tp-section-gap3Top">
                                <div class="post-section-inner">
                                    <div class="row g-5">
                                        {% for noticia in noticias %}
                                        <div class="col-lg-4 col-md-6">
                                            <div class="eblog-featured-news style-two small">
                                                <div class="image-area">
                                                    <a href="#"><img src="{{noticia.banner_small.url}}" alt="{{noticia.titulo}}"></a>
                                                </div>
                                                <div class="blog-content text-left">
                                                    <p class="tag mb--15 color-two">{{noticia.categoria.nombre}}</p>
                                                    <h4 class="heading-title ml--0 mb--10 text-start"><a class="title-animation text-center" href="{% url "blog" noticia.slug %}">{{noticia.titulo}}</a></h4>
                                                    <ul class="blog-meta justify-content-start m--0">
                                                        <li class="author"><span>BY</span>{{noticia.autor}} - {{noticia.fecha_publicacion|date:"d M Y"}} </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include "components/landing/about-panel.html"%}
                </div>
            </div>
        </div>
    </section>