{% extends '../layout/layout.html' %}
{% load static %}
{% block title %}
  {{ blog.title }}
{% endblock %}

{% block content %}

  {% include "../components/blog/header.html" %}
  {% include "../components/blog/breadcrumb.html" %}
  <body class="home-inner">
    <section class="eblog-featured-post-area area-2 tp-section-gapTop">
      <div class="container">
        <div class="section-inner">
          <div class="row g-5 sticky-coloum-wrap">
            <div class="col-xl-9">
              <div class="left-side-post-area">
                {% include "../components/blog/content.html" %}
              </div>
            </div>
            {% include "../components/blog/lateral-panel.html" %}
          </div>
        </div>
      </div>
    </section>
    {% include "../components/blog/related-blogs.html" %}
  </body>
{% endblock %}
